body{
    font-family: Raleway, sans-serif;  
}
h1{
    font-size:1.5em;
}
h2{
    font-size: 1.3rem;
    /* padding-left: 24px; */
    }
p{
    color: black;
}
.container{
    margin: 0 auto;
    width: 95%; 
}
a{
    text-decoration: none;
}

 /* ----------------HEADER------------------  */

 .titre-nongras{
 font-weight: normal;
 font-size: 0.8em;
}
                                
h1{
color: black;
}
h2{
font-weight: bold;
}
                                
h3{
font-size: 1em;
color: black;
}
.entete{
 display: flex;
justify-content: space-between;
}
                                
.entete nav ul{
display: flex;
}
                                
header nav a{
padding-left: 2em;
text-decoration: none;
color: #3b89fd;
}


 /* ----------------MAIN--------------------- */

 /*    FORM     */
 .formulaire{
 border-radius: 15px;
 display: flex;
 width: 20em;
height: 3.6em;
}
.icona .fas{
    padding: 1.4em;
}
.formulaire input{
     padding-top: 1.5em;
    font-weight: bold;    
    height: 1.17em;
     padding-bottom: 1.5em;
     border: 1px solid #F2F2F2 ;
 }
.formulaire a{
    padding: 1.2em;
    width: 7em;
    border-bottom-right-radius: 15px;
    border-top-right-radius: 15px;
    background-color: #0065FC;
    text-decoration: none;
    color: white;
    font-weight: bold;
}
.icona{
    border-bottom-left-radius: 15px;
    border-top-left-radius: 15px;
    background-color: #F2F2F2;
}
::placeholder{
    color: black;
    padding-left: 8px;
}
.formulaire a:hover{
    background-color: red;
    color:black
}
             
            
/****************  FILTRES **********************    */

#filtres ul{
    padding: 0;
    width: 45rem;   
}

#filtres li{
    font-weight: bold;
    list-style-type: none;    
}
#nav2 li{
    margin-right: 15px;
}
#filtres ul{
    display: flex;
    flex-wrap: wrap;
    width: 95%;
    
}
#filtres ul li:first-child{
    padding-top: 1rem;
}
#filtres ul li a{
    text-decoration: none;
    color: black;
    padding-right: 20px;
}
.buttonFilter{
    border: 2px #F2F2F2 solid;
    border-radius: 30px;
    padding-right: 5px;
}
.buttonFilter .fas{
    color: #0065FC;
    padding-right: 1rem;
    background-color: #F2F2F2;
    border-radius: 50%;
    padding: 1rem;
    margin-right: 0.7rem;
}
.info .fas{
    color: #0065FC;
    border: 1px solid #F2F2F2;
    border-radius: 50%;
    padding: 0.65rem;
    line-height: 0.5rem;
    margin-right: 0.5rem;
}
.buttonFilter a{
    font-size: 1rem;
}

a:hover {
    background-color: #476e9e;
}
             
            
/*****************  SECTION HEBERGEMENT ********************/

.groupeHebergement{
    display: flex;
    /* margin-left: 0 2%;
    margin-right: 0 2%; */
}
.sectionGauche{
    flex: 2;
    background-color: #F2F2F2;
    height: 41rem;
    border-radius: 5%;
}
.leftPanel{
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto;
    justify-content: space-between;
}
.leftPanel article{
    width: 31%;
    padding-bottom: 0.5rem;
    margin-bottom: 1.2rem;
    background-color: white;
    border-radius: 10%;
    box-shadow: 2px 2px 3px rgba(0,0,0,0.2);
}
.leftPanel article a{
    text-decoration: none;
}
.entreDeux{
    flex: 0.1;
    
}


.hebergement img{
    width: 94%;
    height: inherit;
    object-fit: cover;
    padding-left: 5px;
    padding-top: 5px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    
    }
.imageCover{
    width :100%;
    height: 6.8rem;
    background-color: white;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    }


.description{
    padding-left: 5px;
}
.hebergement .description{
    line-height: 1rem;
}
.iconeHeb{
    color: #0065FC;
}
.noStar{
    color: #F2F2F2;
}
.more{
    padding-top: 30px;
}
.more a{
    font-size: 1.1rem;
    color: black;
    text-decoration: none;
    font-weight: bold;
    }
.leftMarge{
    padding-top: 1rem;
    margin: 0 auto;
    width: 92%; 
}

.marge{
    padding-top: 1rem;
    margin: 0 auto;
    width: 85%; 
}

.titlePop{
    display: flex;
    justify-content: space-between;
}

.titlePop .fas{
    padding-top: 1.2rem;
}
/*****************    POPULAIRES   ********************/

.sectionDroite{
    flex: 1.2;
    background-color: #F2F2F2;
    border-radius: 7%;
}
.populaires{
    display: flex;
}
.rightArticle{
    background-color: white;
    height: 9rem;
    border-radius: 7%;
    box-shadow: 2px 2px 3px rgba(0,0,0,0.2);
}
.rightPanel{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 33rem;
}

.rightDescription p{
    margin-bottom: 1.8rem;
}
.champ a {
    text-decoration: none;
}
.imageCover2{
    width :55%;
    height: 8.5rem;
    background-color: white;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    }
.imageCover2 img{
    width: 75%;
    height: inherit;
    object-fit: cover;
    padding-left: 5px;
    padding-top: 5px;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    }
            
/***********       SECTION ACTIVITéS      ***********/ 


.activites{
    display: flex;
}

.entreImage{
    flex: 0.1;
}
.bigImage img{
    width: 100%;
    height: 21.5rem;
    object-fit: cover;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}
.doubleImage{
    flex: 1;
    height: 25em;
    background-color: white;
    display: flex;
    flex-direction: column;
}
.image2{
flex: 1.6;
background-color: white;
margin-bottom: 1rem;
box-shadow: 2px 2px 3px rgba(0,0,0,0.2);
border-radius: 5%;

}
.image2 img{
    width: 100%;
    height: 12rem;
    object-fit: cover;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;    
}


.image3{
flex: 1;
background-color: white;
box-shadow: 2px 2px 3px rgba(0,0,0,0.2);
border-radius: 5%;
}
.image3 img{
    width: 100%;
    height: 6rem;
    object-fit: cover;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    
}
.image4 img{
    width: 100%;
    height: 7rem;
    object-fit: cover;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}
.image5{
    flex: 2;
    background-color: white;
    box-shadow: 2px 2px 3px rgba(0,0,0,0.2);
    border-radius: 5%;
    
    }

.image5 img{
    width: 100%;
    height: 11rem;
    object-fit: cover;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
   }
.bigImage{
    flex: 1.1;
    height: 25.7rem;
    border-radius: 5%;
    box-shadow: 2px 2px 3px rgba(0,0,0,0.2);
}
.image4{
flex: 1.4;
background-color: white;
margin-bottom: 1rem;
box-shadow: 2px 2px 3px rgba(0,0,0,0.2);
border-radius: 5%;
}
#activites{
    margin-bottom: 3rem;
}
/* ----------------FOOTER--------------------- */
ul{
    list-style-type: none;
}
ul li a{
    text-decoration: none;
     color: black;
}

ul {
    padding-left: 0;
}
footer{
    background-color: #f2f2f2;
}
.flexFooter{
    display: flex;
    width: 70%;
    padding-left: 30px;
    padding-top: 1.5rem;
    justify-content: space-between;
}
.groupeFooter ul li {
    line-height: 2rem;
}

/*       MEDIA QUERIES             */


@media screen and (max-width:425px) {
body{
    
    margin: auto;
    }

.groupeHebergement{
    margin-left: 0;
    margin-right: 0;
    flex-direction: column-reverse;
    align-items: center;
    height: 82em;
}
.entete{
    display: block;
}

.entete nav li:nth-last-child(2){
    border-bottom: 1px solid #F2F2F2;
    
        
}
.entete nav li:nth-last-child(3){
    border-bottom: 1px solid #F2F2F2;
        
}
.choice{
    flex-wrap: wrap-reverse;
    margin-left: 3rem;
    
}
.leftPanel{
    flex-direction: column;
    
}
.leftPanel article{
    width: auto;
    
}
.activites{
    margin-top: 55rem;
}
.activites {
    flex-direction: column;
    justify-content: space-between;
}
.bigImage img{
    height: 11rem;
}

.image2 a img{
    height: 11rem;
}
.image3 a img{
    height: 11rem;
}
.image4 a img{
    height: 11rem;
}

.flexFooter{
    flex-direction: column;
}


}

@media (min-width:426px) and (max-width:768px) {

.sectionGauche{
    margin-bottom: 1rem;
}


.filter-categories{
        flex-wrap: wrap;
    }
.marge{
    padding-top: 0;
    height: 38.4rem;
    padding-bottom: 1rem;
}
.groupeHebergement{
        flex-direction: column; 
         align-items: center;
        height: 72em;
    }
#activites{
    padding-top: 2rem;
}

    .more{
        display: none;
    }
.sectionGauche{
    height: 49em;
}
}

@media (min-width:769px) and (max-width:978px){

body{
    background-color: red;
}

}