body{
    font-family: Raleway, sans-serif;
}

.container{
    margin-right: 30px;
    margin-left: 30px;
    /* width: 90%;    */
}

                                /* ----------------HEADER------------------  */

.titre-nongras{
    font-weight: normal;
    font-size: 0.8em;
}

h1{
    color: black;
           
}
h2{
    font-weight: bold;
    
}

h3{
    font-size: 1em;
    color: black;
    padding-left: 1em;
}


header{
    display: flex;
    justify-content: space-between;
}

header nav{
    /*width: 23em;*/
    display: flex;
    /*justify-content: space-between ;*/
}

header nav a{
    padding-left: 2em;
    text-decoration: none;
    color: #3b89fd;
}

                                /* ----------------MAIN--------------------- */

             /*    FORM     */


             
.formulaire{
    display: flex;
    background-color: #0065FC;
    width: 28em;
    border-radius: 15px;
    margin-bottom: 1.8em;
}

.icona{
    padding: 1.3em 1em;
    background-color: #f2f2f2 ;
    border-bottom-left-radius: 15px;
    border-top-left-radius: 15px;
}
#formulaire input{
    width: 17em;
    height: 3.4em;
    font-weight: bold;
    font-size: 1em;
    color: #000000;
}
.formulaire a{
    text-decoration: none;
    color: white;
    font-weight: bold;
    margin: auto;
}
.bouton{
    width: 200px;
    margin-top: 1.3em;
    text-align: center;
    font-size: 1em;
}

.bouton a{
    color: white;
    text-decoration: none;
    font-weight: bold;
        
}
.form{
    display: flex;
}
.form i{
    background-color: rgba(242,242,242,255);
}

            /*      FILTRES     */

#filter{
    display: flex;
    width: 80em;
    /* height: 3.2em; */
    font-weight: bold;
    /* margin-bottom: 1.8em; */

}
#filter p{
    padding-right: 1em;
}

.filter-categories{
    display: flex;
    
}
.filter-categories a{
    text-decoration: none;
    padding-right: 0.8em;
}
.filter-categories .btn:hover{
    background-color: #deebff;
}

#filter{
    display: flex;
    width: 45em;
    justify-content: space-between;
    }
.btn {    
    
    border-radius: 20px;
    color: black;
    font-weight: bold;
    border: 1px solid #deebff;   
    width: 13em; 
    height: 2.9em;
}
.btn i{
    background-color: #deebff;
    border-radius: 20px;
    color: #deebff;
    padding: 0.90em;
}
.btn .fas{
    color: #0065fc;
    border: 1px solid #deebff;
    /* margin-right: 1em; */
    padding: 0.9em;
    
}

.info .fas{
    border: 1px solid #deebff; ;
    border-radius: 20px;
    color: #0065fc;
    padding: 0.30em;
}

/*            SECTION HEBERGEMENT           */


#hebergement{
    display: flex;
}

.sectionGauche{
    background-color: #f2f2f2;
    /* width: 47em; */
    /*height: 39em;*/
    border-radius: 20px;
    padding-top: 1em;
    margin-right: 1.5em;
    padding-left: 1em;
    padding-right: 1em;
    padding-bottom: 3em;
}
.sectionDroite{
    background-color: #f2f2f2;
    width: 22.5em;
    /*height: 39em;*/
    border-radius: 20px;   
    padding-top: 1em;
    padding-left: 1em;
    padding-right: 1em;
    display: flex;
    flex-direction: column;
}
.leftPanel{
    display: flex;
    justify-content:space-around;
    flex-wrap: wrap;
    height: 25em;
    /* width: 38em; */
    
}
.leftArticle{
    width: 11.9em;
    height: 13.45em;
    background-color: #ffffff;
    border-radius: 20px;
    margin-bottom: 1.5em;
    box-shadow: 2px 2px 3px rgba(0,0,0,0.4);
}
.leftArticle a h3 {
    padding-left: 0;
}

.btn i{
    background-color: #deebff;
    padding: 0.8em;
    border-radius: 20px;
    margin-right: 0.5em;
    color: #0065fc;
}
.info .fas{
  
    border: solid 2px #d9d9d9;
    border-radius: 20px;
    padding: 0.4em;
}
.rightPanel{
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    /* height: 34em; */
    justify-content: space-between;
}

.rightArticle{
   width: 18em;
   height: 10em;
   background-color: #ffffff;
   border-radius: 20px;
   /* margin: 0 auto; */
   margin-bottom: 2em;
   box-shadow: 2px 2px 3px rgba(0,0,0,0.4);
   display: flex;
   
}
#activité h2{
    padding-top: 1em;
}

.hebergement{
    text-decoration: none;
}
.hebergement h3{
    /* font-size: 1em; */
    color: black;
    /* padding-left: 1em; */
}

.hebergement p{
    color: black;
    /* margin-left: 1em;  */
    line-height: 0.5em;
}
.description{
    padding-left: 0.5em;
}

.iconeHeb{
    /* margin-left: 1em; */
    color:#0065fc ;

}
.populaires h3{
    font-size: 1em;
    color: black;
    padding-left: 0;
}

.more{
    font-weight: bold;
    /* padding-left: 1.8em; */
    padding-top: 6em;
    font-size: 1.2em;

}
.more a{
    color: black;
    text-decoration: none;
}

.titlePop{
  display: flex;
  justify-content: space-between;
}
.titlePop i{
    padding-top: 1.2em;
    font-size: 1.3em;
}
.champ{
    padding-left: 1em;
    }
}
.image{
    background-image: url("../images/hebergements/4_small/fred-kleber-gTbaxaVLvsg-unsplash.jpg") ;
    height: 7em;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    background-size: cover;
    margin: 0.3em 0.3em 0px 0.3em;
    
}
.image2{
    background-image: url("../images/hebergements/4_small/fred-kleber-gTbaxaVLvsg-unsplash.jpg") ;
    height: 7em;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    background-size: cover;
    margin: 0.3em 0.3em 0px 0.3em;
    
}
.image3{
    background-image: url("../images/hebergements/4_small/reisetopia-B8WIgxA_PFU-unsplash.jpg") ;
    height: 7em;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    background-size: cover;
    margin: 0.3em 0.3em 0px 0.3em;
    
}
.image4{
    background-image: url("../images/hebergements/4_small/annie-spratt-Eg1qcIitAuA-unsplash.jpg") ;
    height: 7em;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    background-size: cover;
    margin: 0.3em 0.3em 0px 0.3em;
    
}
.image5{
    background-image: url("../images/hebergements/4_small/nicate-lee-kT-ZyaiwBe0-unsplash.jpg") ;
    height: 7em;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    background-size: cover;
    margin: 0.3em 0.3em 0px 0.3em;
    
}
.image6{
    background-image: url("../images/hebergements/4_small/febrian-zakaria-M6S1WvfW68A-unsplash.jpg") ;
    height: 7em;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    background-repeat: no-repeat;
    background-size:cover;
    margin: 0.3em 0.3em 0px 0.3em;
    
}
.image7{
    background-image: url("../images/hebergements/4_small/emile-guillemot-Bj_rcSC5XfE-unsplash.jpg");
    width: 9em;
    /* height: 10em; */
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    background-repeat: no-repeat;
    background-size:cover;
}
.image8{
    background-image: url("../images/hebergements/4_small/aw-creative-VGs8z60yT2c-unsplash.jpg");
    width: 12.5em;
    /* height: 10em; */
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    background-repeat: no-repeat;
    background-size:cover;
}
.image9{
    background-image: url("../images/hebergements/4_small/febrian-zakaria-sjvU0THccQA-unsplash.jpg");
    width: 9em;
    /* height: 10em; */
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    background-repeat: no-repeat;
    background-size:cover;
}
.populaires{
    text-decoration: none;
}
.populaires > p{
    color: black;
    /* margin-left: 1em; */
}
.populaires .fas{
    padding-top: 1.8em;
}

/*            SECTION ACTIVITéS           */

.groupeActivité{
    display: flex;
    height: 32em;
    /* width: 100%; */
    /* justify-content: space-between ; */
}
.grandeImage1 {
    width: 14em;
    height: 28em;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    background-image: url(../images/activites/4_small/reno-laithienne-QUgJhdY5Fyk-unsplash.jpg);
    background-size: cover;
}
.grandeImage2 {
    width: 14em;
    height: 28em;
    background-color: red;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    background-image: url(../images/activites/4_small/kilyan-sockalingum-NR8-cBCN3aI-unsplash.jpg);
    background-size: cover;
}
.petiteImage1 {
    width: 13em;
    height: 14em;
    background-color: grey;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    background-image: url(../images/activites/4_small/paul-hermann-QFTrLdQIRhI-unsplash.jpg);
    background-size: cover;
}
.petiteImage2 {
    width: 13em;
    height: 9.5em;
    background-color: grey;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    background-image: url(../images/activites/4_small/kevin-hikari-rV_Qd1l-VXg-unsplash.jpg);
    background-size: cover;
}
.petiteImage3 {
    width: 13em;
    height: 11.5em;
    background-color: grey;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    background-image: url(../images/activites/4_small/florian-wehde-xW9e8gdotxI-unsplash.jpg);
    background-size: cover;
}
.petiteImage4 {
    width: 13em;
    height: 13em;
    background-color: grey;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    background-image: url(../images/activites/4_small/lena-paulin-wH2-EJoDcV0-unsplash.jpg);
    background-size: cover;
}
.grandGroupeImage{
    display: flex;
}
.groupeImage{
    background-color: #ffffff;
    border-radius: 20px;
    box-shadow: 2px 2px 3px rgba(0,0,0,0.4);
}
.groupeImage a{
    text-decoration: none;
}
.groupePetiteImage{
    padding-left: 1.5em;
    padding-right: 1.5em;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    }
.groupeImage a p{
    padding-left: 1em;
    font-weight: bold;
    color: black;
}
.vieuxPort{
    width: 14em;
    height: 28em;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    background-image: url(../images/activites/4_small/reno-laithienne-QUgJhdY5Fyk-unsplash.jpg);
    background-size: cover;
}
.fort{
    width: 13em;
    height: 14em;
    background-color: grey;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    background-image: url(../images/activites/4_small/paul-hermann-QFTrLdQIRhI-unsplash.jpg);
    background-size: cover;
}
.frioul{
    width: 13em;
    height: 9.5em;
    background-color: grey;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    background-image: url(../images/activites/4_small/kevin-hikari-rV_Qd1l-VXg-unsplash.jpg);
    background-size: cover;
}
.calanques{
    width: 14em;
    height: 28em;
    background-color: red;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    background-image: url(../images/activites/4_small/kilyan-sockalingum-NR8-cBCN3aI-unsplash.jpg);
    background-size: cover;
}
.notreDame{
    width: 13em;
    height: 11.5em;
    background-color: grey;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    background-image: url(../images/activites/4_small/florian-wehde-xW9e8gdotxI-unsplash.jpg);
    background-size: cover;
}
.longchamp{
    width: 13em;
    height: 13em;
    background-color: grey;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    background-image: url(../images/activites/4_small/lena-paulin-wH2-EJoDcV0-unsplash.jpg);
    background-size: cover;
}
.groupeActif{
    display: grid;
    grid: repeat(2, 10em) / auto-flow 15em;

}
.groupeActif > div {
    background-color: red;
    width: 50px;
    height: 50px;
}

                                /* ----------------FOOTER--------------------- */
ul{
    list-style-type: none;
}
ul li a{
    text-decoration: none;
     color: black;
}
ul {
    padding-left: 0;
}
footer{
    display: flex;
    background-color: #f2f2f2;
    margin-top: 4.5em;
    
}
.groupeFooter{
    padding-right: 6em;
    padding-left: 30px;
    padding-top: 2em;
}
.groupeFooter h3{
    padding: 0;
}
ul li{
    padding-bottom: 1em;   
}



/*       MEDIA QUERIES             */


@media screen and (max-width:375px) {
body{
    background-color: green;
    }
header{
   flex-wrap:wrap;

}
header img {
    padding-bottom: 1em;
}
html{
  
}

.container{
    margin: 5px;
    width: 100%;
}
header nav{
    /* border-bottom: 1px solid blue; */
    padding-bottom: 1em;
    width: 340px;
}
header nav a{
    padding-right: 3em;
}
#choice {
width: 23rem;
}
#filter{
    flex-direction: column;
}
.filter-categories{
    flex-wrap: wrap;
}
}
/*
@media (min-width:501px) and (max-width:767px) {
body{
    background-color: orange;
    }
}

@media (min-width:768px) and (max-width:991px){
body{background-color: purple};  
}
@media (min-width:992px) and (max-width:1199px){
    body{
        background-color: teal;
    }
}

@media (min-width:1200px){
    body{
        background-color:black;
    }
}
*/
